.navbar {
  background-color: #310c0c;
}

.nav-link {
  text-decoration: none;
  color: white !important;
}
.nav-link:hover {
  color: #929292 !important;
}

.nav > li.active > a {
  background-color: #492c2cfc !important;
  border: 1px solid #56191912 !important;
  color: white !important;
  border-radius: 4px;
}

.icon-size {
  font-size: 32px !important;
}

.badge-size {
  font-size: 10px;
  margin-top: 4px;
  height: 18px;
}
